.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

button {
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
  margin-left: 5px;
}

h1,
pre {
  color: white;
}
